In [6]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('weather_data.csv')
df.head(5)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [32]:
print((df == "Unknown").sum())

Location            0
Date_Time           0
Temperature_C       0
Humidity_pct        0
Precipitation_mm    0
Wind_Speed_kmh      0
dtype: int64

In [35]:
custom_nan_values = ["", "NULL", "null", "NA", "N/A", "na", "n/a", "None", "Missing", "Unknown", "-99999", "-999"]
df.replace(custom_nan_values, pd.NA, inplace=True)
print(df.isna().sum())

Location            0
Date_Time           0
Temperature_C       0
Humidity_pct        0
Precipitation_mm    0
Wind_Speed_kmh      0
dtype: int64

In [38]:
df = pd.DataFrame({
    'Score':['Exceptional','avg','good','poor'],'Student':['Rob','Maya','Parthiv','Tom']
})

In [40]:
df

         Score  Student
0  Exceptional      Rob
1          avg     Maya
2         good  Parthiv
3         poor      Tom

In [41]:
df.replace(['poor','avg','good','Exceptional'],[1,2,3,4])

C:\Users\divya\AppData\Local\Temp\ipykernel_17080\3206314288.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(['poor','avg','good','Exceptional'],[1,2,3,4])

   Score  Student
0      4      Rob
1      2     Maya
2      3  Parthiv
3      1      Tom